.navbar {
  display: flex;
  justify-content: center;
  height: 70px;
  position: relative;
  box-shadow: 0px 2px 3px rgb(0,0,0,0.1);
  padding: 0 20px;
}

.navbar .container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.menu {
  font-size: 1.2rem;
  cursor: pointer;
}

.layout {
  display: flex;
  background: #fff;
  color: #0A283E;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
  max-width: 1400px;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  height: 180px;
  background: #f0f0f0;
  gap: 0px;
}

.search-bar form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar h3 {
  flex: 0 0 100%;
  background: #f0f0f0;
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
  gap: 0px;
}

.search-bar .filtersTop {
  background: #fff;
  display: flex;
  align-content: space-evenly;
  margin: 0;
  padding: 0;
}

.search-bar .search-input, .genres, .authors, .years {
  height: 40px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 1rem;
  background: #fff;
}

.search-bar .genres {
  width: 20%;
  border-radius: 5px 0 0 5px;
}

.search-bar .authors {
  width: 20%;
}

.search-bar .search-input {
  width: 60%;
  border-radius: 0 5px 5px 0;
}

.search-bar button {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  background: #0A283E;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.search-bar button svg path{
  fill: #fff;
}

.filters {
  background: #fff;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.filters input:not(.filters input[type="checkbox"]) {
  display: block;
  height: 30px;
  border: none;
  outline: none;
}

.filters label {
  margin-top: 20px !important;
  font-size: 1rem;
}

.filters ul {
  padding: 0;
  margin: 0;
}

.filters li {
  list-style: none;
}

.books {
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px auto;
}

.book {
  margin-bottom: 20px;
}

.book img {
  width: 100%;
  max-width: 250px;
  max-height: 365px;
  margin: 0 auto 10px auto;
  display: block;
}

.book h3 {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.book p {
  font-size: 1rem;
  margin: 0 0 20px 0;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.book .close {
  display: none;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}

.pageRange {
  width: 100%;
}

.bubble {
  background: #005ec3;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #005ec3;
  transform: rotate(45deg);
  top: -3px;
  left: 50%;
}

.readingList {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  background: #fff;
  overflow: scroll;
  z-index: 101;;
  transition: 0.5s;
}

.readingList header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.readingList .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.readingList main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.readingList h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.readingList .book {
  margin-bottom: 0;
  position: relative;
}

.readingList .book img {
  width: 100%;
  max-width: 200px;
  max-height: 254px;
}

.readingList .book p {
  margin-bottom: 0;
}

.readingList .book .close {
  display: block;
  position: absolute;
  top: -13px;
  right: -8px;
  font-size: 1rem;
  cursor: pointer;
  background: #ccc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.readingList .book .close svg path {
  width: 100%;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.541);
  z-index: 100;
  opacity: 1;
  animation: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    z-index: -1;
}

.enter {
  width: 600px;
}


@media (max-width: 1024px) {
  .container {
      grid-template-columns: 1fr;
    }

    .search-bar form {
      width: 70%;
    }

    .filters {
      min-height: 150px;
    }

    .filters form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .filters h1 {
      text-align: center;
    }

    .filters .containerAuthors, .filters .containerGenres {
      display: none;
    }
}

@media (max-width: 834px) {
  .books {
    grid-template-columns: 1fr 1fr;
  }

  .search-bar {
    padding: 0 20px;
    height: 150px;
  }

  .search-bar form {
    width: 100%;
  }

  .readingList main {
    grid-template-columns: 1fr 1fr;
  }

  .readingList .book img {
    max-height: 300px;
  }

  .enter {
    width: 500px;
  }
}

@media (max-width: 570px) {
  .books {
    grid-template-columns: 1fr;
  }

  .search-bar {
    height: 200px;
  }

  .search-bar form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "search search"
      "genres authors";
  }
  .search-bar .search-input{
    width: auto;
    border-radius: 5px;
    margin: 0 0 15px 0;
    grid-area: search;
  }

  .search-bar .genres {
    width: 100%;
    grid-area: genres;
  }
  .search-bar .authors {
    width: 100%;
    grid-area: authors;
    border-radius: 0 5px 5px 0;
  }

  .readingList .book img {
    max-height: 205px;
  }

  .enter {
    width: 80%;
  }

}